{% extends "base.html" %}
{% block content %}
  <h1>Tee uusi kuljetustilaus</h1>
  <p>Tässä pitäisi listautua asiakkaat:</p>
  
    {% if errors %}
    <div class="alert alert-danger">
       <ul>
          {% for error in errors %}
          <li>{{error}}</li>
          {% endfor %}
      </ul>
      
    </div>
  {% endif %}
 
 <form role="form"  action="{{base_path}}/waybill" method="POST">
<br>
    <div class="form-group">   
              <label>Vastaanottaja</label>
              <select name="customer_id" class="form-control">
                 <option></option>
                  {% for customer in customers %}
                    <option value="{{customer.id}}">{{customer.name}}</option>
                     {% else %}
                    <option value="">Asiakkaita ei löydy</option>
                  {% endfor %}
                </select>
              
            </div>
 <div class="form-group">
      <a href="{{base_path}}/customer/new" class="btn btn-success">Uusi asiakas</a>
    </div>

    <!--- Joku valintalistaus tähän -->
       <div class="form-group">   
              <label>Vastaanottaja</label>
              <select name="receiver_id" class="form-control">
                  {% for receiver in receivers %}
                    <option value="{{receiver.id}}">{{receiver.name}}</option>
                     {% else %}
                    <option value="">Vastaanottajia ei löydy</option>
                  {% endfor %}
                </select>
             
            </div>
     <div class="form-group">
         <a href="{{base_path}}/receiver/new" class="btn btn-success">Uusi vastaanottaja</a>
    </div>
    
     <div class="form-group">
      <label>Saapumispvm</label>
      <input name="arrived" class="form-control" type="date">
    </div>
    
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
  </form>
{% endblock %}
