{% extends "base.html" %}
{% import "macros/forms.html" as forms %}
{% block content %}
  <h1>Rahtikirja: {{waybill.id}}</h1>
<!-- Jos on aikaa, niin lisään hyväksy/hylkää- nappulat -->
  <p>
     <!-- Poistonappi -->
     {{forms.destroy_button}}
     <a href="{{base_path}}/waybill/{{waybill.id}}/unit" class="btn btn-success">Uusi tuote</a>
    <a href="{{base_path}}/waybill/{{waybill.id}}/edit" class="btn btn-warning">Muokkaa</a>
  </p>
  <ul>
     <li>Tilaus ID: </li>
     <li>Tilattu:{{waybill.ordered}}</li>
     <li>Lähettäjä: {{waybill.customer_id}}</li>
     <li>Vastaanottaja: {{waybill.receiver_id}}</li>
     <li>Määrä: {{waybill.amount}}</li>
     <li>Saapumispäivä: {{waybill.arrived}}</li>
  </ul>
  <p>Tuotteet:</p>

{% endblock %}
