{% extends "base.html" %}
{% block content %}
  <h1>Tallennetut vastaanottajat</h1>
<!-- Jos on aikaa, niin lisään hyväksy/hylkää- nappulat -->
  <p>
    <a href="{{base_path}}/receiver/new" class="btn btn-success">Uusi vastaanottaja</a>
  </p>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>ID:</th>
        <th>Nimi:</th>
        <th>Osoite:</th>
        <th>Puh:</th>
        <th>Email:</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for receiver in receivers %}
        <tr>
          <td>{{receiver.id}}</td>
          <td>{{receiver.name}}</td>
          <td>{{receiver.address}}</td>
          <td>{{receiver.phone}}</td>
          <td>{{receiver.e_mail}}</td>
          <td><a href="{{base_path}}/receiver/{{receiver.id}}/destroy" class="btn btn-danger" >Poista</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}