{% extends "base.html" %}
{% block content %}


  <div class="page-header">
    <h1>Tervetuloa!</h1>
  </div>
   <div>
      <h2>Mitä haluat tehdä?</h2>
      
      <h3> Haluan...</h3>
    
      <p><strong>Selata rahtikirjoja:</strong>
         Valitse <a href="{{base_path}}/waybill" class="btn btn-success">Rahtikirjat</a></p>
         
      <p><strong>Tehdä uuden rahtikirjan:</strong>
         Valitse  <a href="{{base_path}}/waybill/new" class="btn btn-success">Uusi rahtikirja</a></p>
         
      <p><strong>Selata tallennettuja asiakkaita:</strong>
         Valitse <a href="{{base_path}}/customer" class="btn btn-success">Asiakkaat</a></p>
         
      <p><strong>Selata tallennettuja vastaanottajia:</strong>
         Valitse <a href="{{base_path}}/receiver" class="btn btn-success">Vastaanottajat</a></p>
     
   </div>
  {% endblock %}

