{% extends "base.html" %}
{% block content %}


  <div class="page-header">
    <h1>Tietoa</h1>
  </div>
   <div>
      <h2>Logistix - rahtikirjojen hallintaan tarkoitettu sivusto</h2>
         <div>
         <p>Tällä sivustolla voit luoda uusia rahtikirjoja.
         Rahtikirjoja voi poistaa, mutta myös poistaa ja lisätä tuotteita. 
         </p>
            
         </div>
         <div>
         <p>Sivusto tallentaa jokaisen lähettäjän ja vastaanottajan, jotta heidän tietojaan ei tarvitse kirjoittaa joka tilaukseen uudestaan.
            Lähettäjien ja vastaanottajien tietoja voi välilehden kautta selata.
         </p>
            
         </div>
     
   </div>
  {% endblock %}
