{% extends "base.html" %}
{% block content %}
  <h1>Rahtikirjat</h1>

  <p>
    <a href="#" class="btn btn-success">Tee uusi tilaus</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Tunnus</th>
        <th>Tilauspäivä</th>
        <th>Vastaanottaja</th>
        <th>Status</th>
        <th>Saapumispäivä</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan pelit tähän -->
      <tr>
        <td><a href="rahtikirjat/1">Ä- Rauta 11.11.2011</a></td>
        <td>11.11.2011</td>
        <td>Ö Marketti</td>
        <td><label class="label label-warning">Odottaa</label></td>
        <td>15.11.2011</td>
        <th><a class="btn btn-default btn-sm" href="rahtikirjat/m">Muokkaa</a></th>
      </tr>
    </tbody>
  </table>
{% endblock %}