{% extends "base.html" %}
{% block content %}
  <h1>Lisää tuotteita</h1>
  <p>Täällä voit lisätä tilaukseen enemmän tuotteita.</p>
  <form>
    <div class="form-group">
      <label>Tuotenimi</label>
      <input class="form-control" value="Kissanruoka Namskis" type="text">
    </div>
    <div class="form-group">
      <label>Paino (kg)</label>
      <input class="form-control" value="200" type="text">
    </div>
    <div class="form-group">
      <label>Tilavuus (m³)</label>
      <input class="form-control" value="300" type="text">
    </div>
     <!-- Tähän mahdollisesti listaus tyypillisimmistä lastausmuodoista -->
    <div class="form-group">
      <label>Lastausmuoto</label>
      <input class="form-control" value="Kolli" type="text">
    </div>
     <!-- Tähän mahdollisesti listaus tunnetuista UN-numeroista -->
    <div class="form-group">
      <label>UN-merkinnät</label>
      <input class="form-control" value="" type="text">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
  </form>
{% endblock %}
