{% extends "base.html" %}
{% block content %}
  <h1>Asiakkaat</h1>
<!-- Jos on aikaa, niin lisään hyväksy/hylkää- nappulat -->
  <p>
    <a href="{{base_path}}/customer/new" class="btn btn-success">Uusi asiakas</a>
  </p>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Nimi:</th>
        <th>Osoite:</th>
        <th>Puh:</th>
        <th>Email:</th>
        <th>ID:</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      {% for customer in customers %}
        <tr>
          <td><a href="{{base_path}}/customer/{{customer.id}}">{{customer.name}}</td>
          <td>{{customer.address}}</td>
          <td>{{customer.phone}}</td>
          <td>{{customer.e_mail}}</td>
          <td>{{customer.id}}</td>
          <td><a class="btn btn-default btn-sm" href="{{base_path}}/waybill/{{waybill.id}}/edit">Muokkaa</a></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
