{% extends "base.html" %}
{% block content %}
  <h1>Ä-Rauta 11.11.2011</h1>
  <!-- Painikkeet tähän -->
  <p>
    <button class="btn btn-danger">Poista</button> <a href="lisaa" class="btn btn-default">Lisää tuotteita</a>
    <a href="m" class="btn btn-default">Muokkaa yhteystietoja</a>
  </p>
  <!-- Tiedot tulee listana tähän -->
  <ul>
    <li><strong>Tilaus ID:</strong> aerauta123</li>
    <li><strong>Tilattu:</strong> 11.11.2011</li>
    <li><strong>Lähettäjä:</strong> Ä-Rauta</li>
    <li><strong>Vastaanottaja:</strong> Ö Marketti</li>
    <li><strong>Status:</strong> <label class="label label-warning">Odottaa</label></li>
    <li><strong>Saapumispäivä:</strong>15.11.2011</li>
  </ul>
  <!-- Kuvaus tulee tähän -->
  <h2>Tuotteet</h2>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
         <th>Tuotenimi</th>
        <th>Paino (kg)</th>
        <th>Tilavuus (m³)</th>
        <th>Lastausmuoto</th>
        <th>UN-merkinnät</th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan rahtikirjat tähän -->
      <tr>
        <td>Kissanruoka Namskis</td>
        <td>200</td>
        <td>300</td>
        <td>Kolli</td>
        <td>-</td>
      </tr>
    </tbody>
  </table>
  <p>
    Jos ongelmia, soitto numeroon: XXXXXXXXX.
  </p>
{% endblock %}
